<div class="section-heading">
    <h1>Idea section info</h1>
    <div class="divider"></div>
</div>
<div class="row">
    <div class="col-md-12 media">
        <p>To submit an idea, you must first register an account(by providing a name, email and password). Once you do that, your name will be engraved(in chocolate bits) on an everlasting cookie, so we'll always know it's you when you come back. When logged in, you will see your email address next to the idea list and below that two options: "change your password" and "log out". If you log out, you will still see the idea list and can view individual idea details by clicking/tapping on the idea and then on "View Idea".</p>
    </div>
    <div class="col-md-12 media">
        <p>If you're logged in, you can also change an idea(we'll cover what this means farther down), join in on ideas you like(by selecting "Join Team") or withdraw your support for ideas you don't want to back anymore(by selecting "Leave Team").</p>
    </div>
    <div class="col-md-12 media">
        <p>To change an idea, you have to be the "owner" of the idea. It may sound like a strong word but this doesn't obligate you to anything, it just means you're either the person that suggested the idea or someone "left in charge" by that person. The purpose of this title is to have the ability to pick team members out of the people that signed up to help by clicking "Join Team" on the idea list view. The "owner" can select "Change Idea" and in the backers list can select "Pick" to choose that person as a member of the final team. You can easily transfer ownership to another person in the backers list if you don't want to be in charge... Just select another backer and press "Transfer Idea".</p>
    </div>
    <div class="media" style="text-align:center">
        <button class="btn btn-primary btn-lg" data-ng-click="goto_home()"><i class="fa fa-arrow-left"></i>&nbsp;Back to ideas</button>
    </div>
</div>