<div class="section-heading">
    <h1>{{ inEditMode && 'Change idea' || 'Add idea' }}</h1>
    <div class="divider"></div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="row" style="text-align: center;">
            <div class="col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2">
            	<form role="form">
            		<div class="form-group" data-ng-enter="saveIdea()">
                        <input type="text" class="form-control" placeholder="The title of your idea (this will be shown in the idea list, so keep it brief)" data-ng-model="formModel.title" />
                    </div>
                    <div class="form-group">
                        <textarea cols="30" rows="10" class="form-control" style="margin: 0px -2px 0px 0px" placeholder="Give a short description of your idea. Keep in mind, people will back you and join your team based on this..." data-ng-model="formModel.description"></textarea>
                    </div>
                    <button class="btn btn-primary btn-lg" data-ng-click="goto_home()"><i class="fa fa-arrow-left"></i>&nbsp;Back to ideas</button>
                    <button type="submit" class="btn btn-primary btn-lg" data-ng-click="saveIdea()"><i class="fa {{ inEditMode && 'fa-save' || 'fa-rocket' }}"></i>&nbsp;{{ inEditMode && 'Save idea' || 'Submit idea' }}</button>
                </form>
                <div class="media">
                    <span class="error">{{ errorMsg }}</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" data-ng-if="inEditMode && formModel.backers.length > 0">
	<div class="col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2">
		<h3>Backers</h3>
	</div>
	<div class="col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2 backer list">
		<ul>
			<li data-ng-repeat="backer in formModel.backers | orderBy:'Id'">
				<div class="row">
					<span style="word-wrap:break-word;">{{ backer.User.Name }}</span>
					<span data-ng-click="changeMembership(backer)" class="pull-right" style="cursor:pointer;"><i class="fa {{ backer.IsMember && 'fa-times-circle-o' || 'fa-check-circle-o' }}"></i>&nbsp;{{ backer.IsMember && 'Unpick' || 'Pick' }}</span>
			</li>
		</ul>
	</div>
</div>
<div class="row" data-ng-if="formModel.backers.length <= 0">
	<div class="col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2">
		<h3>No backers yet</h3>
	</div>
</div>
